body{
	margin: 0px;padding: 0px;
	    background-color:#041920;
	    color:white ;font-family: sans-serif;
}
/*body-header*/
#body-header{
	display:flex;align-items: center;
	flex-direction: row;justify-content: space-around;
	background-color:#010303;height:12vh;width: 100%;
}
.body-header-left{
	display:flex;align-items: center;
	flex-direction: row;
	height:100%;width:15%;
}
.music-icon{
	font-size: 300%;
	color:#25c7a3;
}

.player-title{
   font-size:1.8rem;margin-left: .2rem;
}
.body-header-center{
display:flex;align-items: center;
	flex-direction: row;
	height:100%;width:30%;	
}
.body-header-center div a{
	margin-left:5rem;margin-right: .5rem;
	color:white;font-size: 1rem;
	text-decoration: none;margin-left:2rem;
}
.body-header-center div a:hover{
   color:#25c7a3;	
}
.body-header-right{
 display:flex;align-items: center;
	flex-direction: row;
	height:100%;width:40%;	
}
.search-bar{
	margin-left: 30%;
	border:2px solid #25c7a3;
	height:1.3rem;width:42%;
	border-radius:1rem;padding: .4rem;
	box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
	display:flex;justify-content: space-between;
	align-items: center;

}




.search-button {
     float: right;
	/*display:flex;justify-content: center;
	align-items: center;
	padding-right:.5rem;
*/	height:.4rem:width: .4rem;color:#25c7a3;
    text-decoration: none;

}

.search-txt{
	border:none;
	background: none;color:white;
   outline: none;
  /*padding-left: .6rem;*/
  /*display:flex;justify-content: space-between;
	align-items: center;*/
  
}
.notification-icon a i{
   font-size: 2rem;padding-left:1rem;
   color: #25c7a3;
}
.profile-icon{
	height:55%;
	width:8%;
	border-radius: 50%;
	background-image: url(https://static.billboard.com/files/media/coldplay-chris-martin-2015-amas-billboard-650-compressed.jpg);
	background-position: center;
	background-size: cover;margin-left: 1rem;
}
/*main*/
#main-body{
	display: flex;
	flex-flow: row;flex-wrap: wrap;
}


#left-section{
 width:70%;height:100%;display: flex;
 flex-flow: column;
 flex-wrap: wrap;
 /*background-color: cyan;*/
}
.part1{
	display: flex; flex-wrap: wrap;
	justify-content: center;
	align-items: center;height:70vh;
	width: 100%;
	/*background-attachment: fixed;*/
}
.type1{
	height:65%;
	width:28%;
   text-decoration: none;
	margin-left: .5rem;margin-right: .5rem;
	
   }

.div-part1{
	height:100%;width :100%;
	/*background-color: blue;*/
     
    background-size: cover;
    /*background-attachment: fixed;*/
    background-position: center;
    color:white;
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: none;
    display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
}
.div-part1:hover{
	position:relative;
	height: 105%;width:105%;text-decoration: underline;
	transition: 0.4s;color: white;
	border: .2rem solid grey;
	text-shadow: 1px 1px 1px black;
    font-family: 'Baloo Thambi 2';
    
    
    
}
#headings-modify{

}




.part2{
	margin-left: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height:60vh;
	width: 100%;font-family: 'Baloo 2';
	/*background-color: cyan;*/
}
.type2{
	height:8rem;width: 8rem;
	margin-left: 1.2rem;
	margin-right: 1.2rem;text-decoration: none;

}
.artist-name{
	color: white;opacity: 0;
	visibility: hidden;
}

.div-part2{
	height:100%;width :100%;display: flex;
    background-size: contain;color: white;
    /*background-image: url(https://wallpaperaccess.com/full/10443.jpg);*/
    background-size: cover;
    background-position: center;align-items: center;justify-content: center;
    /*background-attachment: fixed;*/
    border-radius: 50%;
    border: .15rem solid grey;

}
.div-part2:hover {
	position: relative;
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
	height: 110%;width:110%;transition: .2s;
}

.div-part2:hover .artist-name{
	transition: opacity 2s;opacity: 1;
	visibility: visible;text-shadow: 1px 1px 1px black;font-weight: 600;
}




.heading-font{
	font-size: 2rem;
}
.part4{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height:50vh;
	width: 100%;
	/*background-color: cyan;*/
	margin-left: 2.5rem;font-family: 'Baloo 2';font-weight: lighter;font-size: 1rem;
	text-decoration: none;

}
.type4{
	height:70%;width: 18%;padding-bottom: 1rem;margin-left: .5rem;margin-right: .5rem;
	text-decoration: none;
}
.div-part4{
 height:100%;width :100%;
  /*background-image: linear-gradient(#1b6670,#0c2427);*/
  color:white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
	align-items: center;
	text-decoration: none;
	flex-flow: column;
	font-family: 'Baloo 2';font-weight: lighter;font-size: 1rem;
	text-decoration: none;

}
.div-part4-div{
	height:75%;width :100%;
    /*background-size: contain;*/
    /*background-image: url(https://wallpaperaccess.com/full/10443.jpg);*/
    background-size: cover;
    background-position: center;text-decoration: none;
}
.type4:hover {
	position: relative;
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
	height: 70.5%;width:18.5%;transition: 0.2s;
}
.Radio-members{
	visibility: hidden;opacity: 0;
}
/*.Radio-name{
text-shadow: 1px 1px 1px black;	
}*/
.type4:hover .Radio-members{
	visibility: visible;color: grey;font-weight:500; 
	transition: color 1.5s;  opacity: 1;transition: opacity 1.5s;
}
.type4:hover .div-part4-div{
	opacity: 0.6;
}
.type4:hover .Radio-name{
 text-shadow: 1px 1px 1px grey;font-weight: 500;
}

/*aside-section*/
#aside-section{
	width: 22%;
	height: 100%;
	display: flex;flex-flow: column;justify-content: center;
	vertical-align: top;padding-left: 2rem;padding-top: 1rem;
}
.aside-heading{
	width:100%;height: 10vh;
	display: flex;
	align-items: center;
	color:white;margin-left: 0px;
}
.aside-heading span{
    font-size: 1.8rem;
}
.queue-bars{
	display: flex;
	flex-flow: column;
	align-items: center;
}
.bar:nth-child(odd){
 background-color: #19303a;
}

.bar{
	/*height: 10vh;width: 100%;margin-top: .2rem;margin-bottom: .2rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    border:1px solid white;
    left-rdiu: 10%;
    border-top-right-radius: 10%;*/
display: flex;
height: 10vh;
border-radius: 1rem;
/*border:1px solid white;*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    font-family: 'Baloo 2';
    /*margin-left: 1rem;*/
}
.bar-left{
	height:100%;width: 70%;display: flex;
	 flex-direction: row;
    align-items: center;
}
.bar-img{
    height:50%;
    width: 17%;
	background-size: cover;
    background-position: center;
    margin-left:.4rem;
    margin-right: .4rem;
    border-radius: .5rem;
}
.bar-i{
	margin-left: .6rem;
}
.bar-div{
	margin-left: .5rem;
}
.bar-right{
margin-right:1.5rem; 	
}
.queue-bars :hover{
	background-color:#505d63;
	border-radius: 1rem; 
}
.queue-bars:hover .bar-img{
	border-radius: .5rem;
}

/*footer-section*/
#body-footer{
	display:flex;
	   flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #080303;
    width: 100%;
    height: 11vh;
    margin-top: 2rem;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    
}
.song-img{
	width: 3.2%;height:55%;
	background-image: url(https://m.media-amazon.com/images/I/51qqHZjmzlL.jpg);
	background-size: cover;
    background-position: center;margin-right: 2rem;

}
.song{
	display: flex;flex-flow: column;
	width: 8%;
	height: 100%;
	justify-content: center;
	align-items: center;

}
.song-name{
	color: white;
	font-size:1rem;margin-bottom: .5rem;
}
.singer{
    color: grey;
	font-size:.8rem;	
}
.music-bar{
	display: flex;flex-flow: column;
	width: 40%;
	height: 100%;
	justify-content: center;
	align-items: center;
    color:grey;margin-left: 5rem;margin-right: 2rem;
}
.player-bar{
	height: 6%;margin-top: 1rem;
	width: 100%;
    display: flex;flex-flow:row;
	justify-content: center;
	align-items: center;   border: .05rem solid grey; border-radius: 1.2rem;
}
.bar-buttons{

display: flex;flex-flow:row;
	justify-content: center;
	align-items: center;
}
.bar-buttons div{
	color:grey;
	margin-left: 1.5rem;margin-right: 1.5rem;color: grey;
	margin-top: .5rem;	
}
.bar-buttons a i{
	color:grey;font-size: .7rem;
}
.side-buttons{
	height: 100%;
	width: 20%;
	display: flex;flex-flow:row;
	justify-content: center;
	align-items: center;

}
.side-buttons a i{
	color: grey;margin-left:1.5rem;margin-right: 1.5rem;
}



/*media queries*/
@media screen and (max-width: 1300px){
	.body-header-center{
		margin-left:3rem;
	}
	.body-header-center div a{
        font-size: .8rem;margin-left: .3rem;margin-right: .3rem;
	}
}
@media screen and (max-width: 1200px){

.type2{
	height: 6rem;width:6rem;margin-top: 1rem;margin-bottom: 1rem;
}

#hide-anchortag{
		display: none;
	}

}
@media screen and (max-width: 1000px){
	#main-body{
		flex-flow: column;width: 90%;
	}
	#body-header{
		 width: 100%;background-color: black;margin:0px;padding: 0px;
	}
.player-title{
   font-size: 1.5rem;
}
	.body-header-center{
		display: none;
	}
	.body-header-right{
   width:50%;height: 90%;
 }
	.notification-icon {
	display: none;
}
.search-bar{
	width:52%;
}
	#left-section{
		width:100%;
	}
	.part1{
		margin-bottom:1rem;
		margin-top: 1rem;
	}
	.type1{
		height:70%;
	}
	

#headings-modify{
	text-align: center;
	font-size: 1.6rem;
}	
#aside-section{
	width:100%;
	align-items: center;
	margin-bottom: 7rem;
}
.aside-heading{
	width:50%;
}
.queue-bars{
	width:50%;
}
 .bar{
 	height: 15vh;
 }
 .body-header-right{
 	margin-left:5rem;width:50%;
 }
 
}

@media screen and (max-width: 500px){
  
  .body-header-right{
 	width:60%;height: 90%;margin-left: 0px;
 }
 .body-header-right{
	margin-right: 1.5rem;
}
 .search-bar{
	width:80%;height: 17%; justify-content: space-around;
}
.search-txt{
	font-size: .7rem;
}
.profile-icon{
	display: none;
}
#headings-modify{
 	font-size: 1.2rem;padding-right:1rem;
 }
#remove-items{
	display: none;
}
 .part1{
 	height: 110vh;
 	margin-left: 2rem;
 }
.type1{
		height:40%; width: 60%;
	}
 .part2{
 	margin-bottom: 7rem;
 }
 .type2{
 	height: 4.5rem;width: 4.5rem;
 }
 .artist-name{
 	font-size: .6rem;
 }
 .part4{
 	height:90vh;margin-top: 2rem;margin-bottom: 2rem;
 }
 .type4{
 	width:38%;height:40%;
 }
 .type4:hover {
	position: relative;
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
	height: 41%;width:38.5%;transition: 0.2s;
}
.queue-bars{
	width:65%;
}
 .bar{
 	height: 11vh;
 }
 .song-img{
	width: 5%;height:40%;

}
.song-name{
	font-size:.6rem;margin-bottom: .4rem;
}
.singer{
    color: grey;
	font-size:.3rem;	
}
.player-title{
   font-size:1.2rem;display: none;
   
}
.search-button{
	padding-right:.3rem;font-size: .5rem;
}
#body-footer{
 	height: 8vh;
 }
 
 .bar-buttons div{
   margin-top: 0rem;
 }
 .bar-buttons a i{
 	font-size: .4rem;
 }

}

